body {
    background-image: url("{{ url_for('static', filename='Background.jpg') }}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
  border-radius: 25px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Lucida Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  color: black;
  text-align: center;
  opacity: 1px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: "Lucida Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  color: black;
  text-align: center;
  opacity: 1px;
}

h6 {
  font-family: "Lucida Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  color: black;
  text-align: center;
  opacity: 1px;
}

.button {
  background-color: palegreen;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, -50%);
}

.buttongeneral {
  background-color: #04aa6d;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-0.5%, -60%);
  -ms-transform: translate(-50%, -50%);
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button1:hover {
  background-color: yellow;
  color: black;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button3:hover {
  background-color: red;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.button2:hover {
  background-color: darkgreen;
  color: white;
}

.button1 {
  background-color: green;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, -50%);
}

div {
  background-color: palegreen;
  width: fit-content;
  border: 10px black;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.8;
  font-weight: bold;
}

div_new {
  background-color: palegreen;
  width: 500px;
  height: fit-content;
  border: 10px black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(50%, 50%);
  text-align: center;
  opacity: 0.8;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: palegreen;
  opacity: 0.8;
}

th {
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-bottom: 1px;
  font-family: "Lucida Sans";
  font-size: 35px;
}

td {
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-bottom: 1px;
  font-family: "Lucida Sans";
  font-size: 25px;
}

tr:hover {
  background-color: yellow;
}
